@use "variables";

.rootContainer {
    display: grid;
    grid-template-columns: 29% 71%;
    margin: 1%;
}

.sidebar {
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.gallery {
    grid-column: 2;
}

.sidebar .sidebarProjectList {
    list-style-type: none;
    font-weight: variables.$font-light;
    ul {
        padding-left: 0;
    }
    li {
        margin: 4% 0;
    }
    .sidebarTitle {
        font-family: variables.$font-secondary;
        font-weight: variables.$font-bold;
        padding-bottom: 4%;
        margin-bottom: 8%;
        font-size: 1.75rem;
    }
    margin-left: 20%;
    width: 35%;
}

.sidebarProjectListItem,
.sidebarProjectListItemContact {
    width: fit-content;
    font-weight: variables.$font-light;
    font-size: variables.$font-smaller;
    color: variables.$primary-color;
}

.sidebarProjectListItemContact {
    a {
        color: variables.$primary-color;
        text-decoration: none;
    }
}

.sidebarProjectListItemActive {
    font-weight: variables.$font-bold;
    letter-spacing: 0.075rem;
}

.sidebarProjectListItem:hover {
    letter-spacing: 0.075rem;
    cursor: pointer;
    font-weight: variables.$font-bold;
    transition: 0.3s;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.homepageGalleryImageContainer,
.collectionGalleryImageContainer {
    position: relative;
    margin: 5px;
    display: flex;
    width: 45%;
    height: fit-content;
}

.homepageGalleryImage,
.collectionGalleryImage {
    display: block;
    width: 100%;
    height: 100%;
}

.collectionGalleryImage {
    cursor: pointer;
}

.lazyLoadImage {
    display: none;
}

.homepageGalleryImageContainer:hover {
    cursor: pointer;
}

.homepageGalleryImageContainer:hover .homepageGalleryImage {
    opacity: 0.5;
}

.homepageGalleryImageContainer:hover .galleryImageText {
    opacity: 1;
}

.galleryImageText {
    background-color: variables.$background-color;
    padding: 6px;
    position: absolute;
    opacity: 0;
    left: 81.5%;
    bottom: 4%;
    transition: opacity 0.3s;
    border: 1px solid;
}

@media screen and (max-width: 1200px) {
    .sidebar .sidebarProjectList {
        margin-left: 0%;
    }
    .galleryImageText {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .sidebarProjectListItemContact {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .mediaHide {
        display: none;
    }
    .rootContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sidebar .sidebarProjectList {
        margin-left: 0%;
        .sidebarTitle {
            font-size: 1.5rem;
            width: fit-content;
        }
    }
    .galleryImageText {
        display: block;
        opacity: 1;
        left: 5%;
        bottom: 4%;
    }
}
