@import "variables";

:root {
    font-family: $font-primary;
    font-weight: $font-regular;

    color-scheme: light dark;
    color: rgb(228, 224, 219);
    background-color: #181a1b;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
