@use "variables";

:root {
    font-family: variables.$font-primary;
    font-weight: variables.$font-regular;

    color-scheme: light dark;
    color: variables.$primary-color;
    background-color: variables.$background-color;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
