@use "variables";

.returnToTopButton {
    background: variables.$background-color;
    color: variables.$primary-color;
    padding: 5px;
    border: none;
    outline: inherit;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    left: 10%;
    font-family: variables.$font-primary;
}
