@import "variables";

.returnToTopButton {
    background: $background-color;
    color: $primary-color;
    padding: 5px;
    border: none;
    outline: inherit;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    left: 10%;
    font-family: $font-primary;
}
